<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul class="navigation">
                <li><a href="/workout">Workouts</a></li>
                <li><a href="/diet">Diet</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
                <li><a href="/myprofile">Profile</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Community
            <a href="https://twitter.com/intent/tweet?button_hashtag=workout&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #workout</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </h1>
        <div class="community-container>
<a href="http://pub29.bravenet.com/calendar/show.php?usernum=2439437326" style="float: left; margin-right: 10px;color:black"><img src="https://assets.bravenet.com/common/images/cpcode/light-color-calendar.gif" width="32" height="32" alt="Free Website Calendars by Bravenet.com" border="0"></a>
<a href="http://pub29.bravenet.com/calendar/show.php?usernum=2439437326" style="font-size: 12px; font-weight: bold; color:black">Click to view workout your calander</a><br>
<a href="http://www.bravenet.com/webtools/calendar/" style="font-size: 10px; color:black;"></a>
<br style="clear: left;">
</div>
     <script src="http://apps.bravenet.com/go.js?service=forum;id=1;usernum=2439437326" type="text/javascript" charset="utf-8"></script>
