<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/workouts">Workouts</a></li>
                <li><a href="/diet">Diet</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>
 <main>
        <h1>Community</h1>
     <a href="https://twitter.com/intent/tweet?button_hashtag=workout&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #workout</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
     
<body>
    <div id="navbar">
        <div id="div1">
            <div>Category</div>
            <div>Discussion</div>
        </div>
        <div id="div2">
            </div>
            </div>
        </div>
    </div>

    <!-- body top -->
    <div id="top">
        <div>
            <h1>Workout Tracker</h1>
        </div>
        <div>
            <select>
                <option value="">workout-tracker</option>
                <option value="everywhere">everywhere</option>
            </select>
            <input type="text" placeholder="search">
        </div>
    </div>

        <div id="rightDiv">
            <button>+ New Post</button>
            <div>
    <!-- body bottom -->
    <div id="bottom">
        <div>
            <h2>Announcements</h2>
            <div id="announcement">
                <img
                    src="https://dakd0cjsv8wfa.cloudfront.net/images/photos/user/79fe/0da5/eefc/32d7/73d0/d783/c86c/344777ca974551c66090cb351af9438269cb.jpg">
                <p><a href="./newsAndAnouncement.html">My Workout Tracker is looking for RD’s, Nutritionists and Personal
                        Trainers that use My Workout Tracker!</a>
                    <br>
                    Are you a personal trainer, nutritionist, or Registered Dietician that uses MFP with your clients?
                    We’d love to talk to you about your experience using My Workout Tracker and possibly
                </p>
            </div>
            <h2>Health, Wellness and Goals</h2>
            <hr>
            <h3>Introduce Yourself</h3>
            <p>If you're new to Workout Tracker please post a message here and say hello!</p>
            <hr>

            <h3>Getting Started</h3>
            <p>Get help and support with starting your My Workout Tracker journey.</p>
            <hr>

            <h3>Health and Weight Loss</h3>
            <p>Ask questions and get help on anything health and weight loss related.</p>
            <hr>

            <h3>Food and Nutrition</h3>
            <p>Post and share tips, nutritional advice, discuss ways of eating and more.</p>
            <hr>

            <h3>Recipes</h3>
            <p>Share your favorite recipes and healthy cooking tips</p>
            <hr>
            <h3>Fitness and Exercise</h3>
            <p>Share fitness tips and exercise suggestions with other My Workout Tracker members.</p>
            <hr>
            <h3>Sleep, Mindfulness and Overall Wellness</h3>
            <p>A place to discuss broader wellness themes like sleep, meditation, mindfulness and overall wellness.</p>
            <hr>
            <h3>Goal: Maintaining Weight</h3>
            <hr>
            <h3>Goal: Gaining Weight and Body Buildin</h3>
            <hr>
            <h3>Success Stories</h3>
            <p>Share your success story and celebrate your victories big and small! Every small win counts.</p>
            <hr>
            <h3>Motivation and Support</h3>
            <p>You are not alone! Get motivational help and support here from other My WorkoutTracker members.</p>
            <hr>
            <h3>
                Challenges
            </h3>
            <p> For those looking to start or join a new challenge.</p>
            <hr>
            <h3>Debate Club
            </h3>
            <p>Discuss highly debated health and fitness topics.</p>
            <hr>
            <h2>Social Corner</h2>
            <hr>
            <h3>Chit-Chat
            </h3>
            <p>Shoot the breeze & chat with members.</p>
            <hr>
            <h3>
                Fun and Games
            </h3>
            <p>Play a game or share a joke.</p>
            <hr>
            <hr>
            <h3>News and Announcements
            </h3>
            <hr>
            <h3>Feature Suggestions and Ideas
            </h3>
            <p>Have a great idea? Share your feature suggestions and app improvement ideas here.</p>
            <hr>
            </h3>
            <hr>
     
                <h4>Quick Links</h4>
                <div id="quickLinks">
                    <p>Categories</p>
                    <p>Recent Discussions</p>
                    <p>Groups</p>
                    <p>My Groups</p>
                    <p> My Bookmarks </p>
                    <p>My Discussions</p>
                    <p>My Drafts</p>
                    <p>Community Guidelines</p>
                </div>
            </div>
            <h4>Categories</h4>
            <p>All Categories</p>
            <h4>Health, Wellness and Goals</h4>
            <p>Introduce Yourself</p>
            <p>Getting Started</p>
            <p>Health and Weight Loss</p>
            <p>Food and Nutrition</p>
            <p>Recipes</p>
            <p>Fitness and Exercise</p>
            <p>Sleep, Mindfulness and Overall Wellness</p>
            <p>Goal: Maintaining Weight</p>
            <p>Goal: Gaining Weight and Body Building</p>
            <p>Success Stories</p>
            <p>Motivation and Support</p>
            <p>Challenges</p>
            <p>Debate Club</p>
            <h4>Social Corner</h4>
        </div>
    </div>
</body>