<!DOCTYPE html>
<html>

<head>
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/profile.css">

    
</head>

<body>
    <header>


    </header>

    <main>
        <nav>
            <ul>
                <li><a href="/workout"><strong>WORKOUTS</strong></a></li>
                <li><a href="/diet"><strong>DIET</strong></a></li>
                <li><a href="/community"><strong>COMMUNITY</strong></a></li>
                <li><a href="/login"><strong>LOGIN</strong></a></li>
                <li><a href="/profile"><strong>PROFILE</strong></a></li>
            </ul>
        </nav>
        <section class="hero"></section>
        {{{body}}}
    </main>



    <script src=""></script>

</body>

</html>