

<body class="profilebck">
    <nav>
      <div class="navbar">
        <div class="container nav-container">
          
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>  
            
          <div class="logo">
            <h1>Workout-Tracker</h1>
          </div>
          <div class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/workouts">Workouts</a></li>
            <li><a href="/diet">Diet</a></li>
            <li><a href="/Community">Community</a></li>
            <li><button id="logout">Logout</button></li>
            <li><button id="dlt" class="deletebtn" data-id="{{ id }}">Delete</button></li>
            
          </div>

        </div>
      </div>
    </nav>
  </body>
<form class="profileform">
<div class="container">
  <div class="card">
    <img src="https://lh3.googleusercontent.com/pZwZJ5HIL5iKbA91UGMUIPR0VJWa3K0vOGzDZmY6wU3EJBUdfsby3VEyxU162XxTyOyP3D154tjkr-4Jgcx8lygYUR8eB-jVmld4dsHi1c-mE_A8jKccseAG7bdEwVrcuuk6ciNtSw=s170-no" alt="Person" class="card__image">
    <p class="card__name">{{ name }}</p>
    <div class="grid-container">

      <div class="grid-child-posts">
        About me
      </div>
    </div>
      <input name="number" class="usr"><button class="usrbtn">submit</button></input>
      <h3 class="usrdata"></h3>
    <button class="btn draw-border">Follow</button>
    <button class="btn draw-border">Message</button>
    <button class="btn draw-border">Post</button>

  </div>
</div>
</form>


{{!-- 
<div class="card">
    <div class="card_background_img">
    </div>
    <div class="card_profile_img">
      <input type="file" class="file" accept="image/png", "image/jpeg", "image/jpg">
    </div>

    
    <div class="user_details">
        <h2>Full Name:</h2>
        <h3 id="myname">{{ name }}</h3>
    </div>
    <div class="user_detail">
        <h2>Email:</h2>
        <h3 id="myemail">{{ email }}</h3>    
    </div>
  <form class="profileform">
     <div class="user_number">
        <h2>Phone:</h2>
        <input name="number" class="usr" type="text"></input>   
        <h3 class="usrdata"></h3>
    </div>
     <div class="user_wrkout">
        <h2>Favorite Workout:</h2>
        <input name="Workout" class="usr" id="input1" type="text"></input>   
        <h3 class="usrdata2"></h3>
    </div>
      <div class="user_diet">
        <h2>Favorite Diet:</h2>
        <input name="Diet" class="usr" id="input2" type="text"></input>   
        <h3 class="usrdata3"></h3>
    </div>
      <div class="user_diet">
        <h2>Relationship Status:</h2>
        <input name="Status" class="usr" id="input3" type="text"><button class="usrbtn">submit</button>  
        <h3 class="usrdata4"></h3>
    </div>
</div>
</form> --}}





    


        <script src="./js/logout.js"></script>
        <script src="./js/delete-profile.js"></script>
        <script src="./js/myprofile.js"></script>
