<!DOCTYPE html>
<html>

<head>
    <title>Create Workout</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/workout">Workouts</a></li>
                <li><a href="/diet">Diet</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/login">Login/Sign Up</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Create Workout</h1>

        <form id="workout-form">
            <label for="workout-name">Workout Name:</label>
            <input type="text" id="workout-name" required>

            <label for="workout-type">Workout Type:</label>
            <input type="text" id="workout-type" required>

            <div id="exercise-container">
                <h2>Add Exercises</h2>
            </div>

            <button type="button" id="add-exercise">Add Exercise</button>
            <button type="submit">Create Workout</button>
        </form>

        <div id="saved-workouts-section"></div>
    </main>

   

    <script src="../public/js/workout.js"></script>
</body>

</html>
